<!-- No -->

<!--This is the footer of the website-->

<div class="footer-window container-fluid footer-color">
	<div class="row text-center">
		<div class="footer-view footer-info col-md-4 text-left">
				<div class="text-left">
					<i class="fab fa-github-square account-icon"></i> 
					<span class="account">@polyline</span>
				</div>
				<div>
					<i class="fab fa-instagram account-icon"></i> 
					<span class="account">@__tsu__pei</span>
				</div>
				<div>
					<i class="fas fa-envelope account-icon" ></i> 
					<span class="account">a5560648(@gmail)</span>
				</div>
		</div>
		<div class="footer-view footer-words col-md-4">
			<p>快樂有很多種</p>
			<p>平凡的快樂、頹廢的快樂、成就的快樂</p>
			<p>追尋自己想要的快樂</p>
		</div>
		<div class="footer-view footer-license col-md-4">
			<p>Version 0.0.3</p>
			<p>0.0.3 - 圖片設定完成</p>
			<p>0.0.3 - 2018.4.29</p>
		</div>
	</div>
</div>

<!--
log
<p>Version 0.0.2</p>
			<p>0.0.2 - 配色完成</p>
			<p>0.0.2 - 基本模板完成</p>
			<p>0.0.2 - 自我介紹新增打字效果</p>




-->