<!-- No -->

<!--This is the footer of the website-->

<div class="container-fluid ">
	<div class="footer-window row text-center">
		<div class="footer-view footer-info col-md-4 text-left">
				<div class="text-left">
					<i class="fab fa-github-square"></i> 
					<span class="account">@polyline</span>
				</div>
				<div>
					<i class="fab fa-instagram"></i> 
					<span class="account">@__tsu__pei</span>
				</div>
				<div>
					<i class="fas fa-envelope"></i> 
					<span class="account">a5560648@gamil.com</span>
				</div>
		</div>
		<div class="footer-view footer-words col-md-4">
			<p>Welcome to my blog! Please enjoy it. Now I am digging into website developing</p>
		</div>
		<div class="footer-view footer-license col-md-4">
			<p>Special Thanks to w3school and FontAwesome</p>
		</div>
	</div>
</div>