<!-- OK -->

<nav class="navbar navbar-default nav-color">
<div class="container">
      <!-- the header of nav-bar, including the name and the stacking setting -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/index.html">Tsu-Pei Blog</a>
      </div>
      <!--Menu-->
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link active" href="{{site.baseurl}}/index.html">About Me</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
            <div class="dropdown-menu dropdown-color" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{site.baseurl}}/posts">All</a>
              <a class="dropdown-item" href="{{site.baseurl}}/posts/categories/cs">cs</a>
              <a class="dropdown-item" href="{{site.baseurl}}/posts/categories/life">life</a>
              <a class="dropdown-item" href="{{site.baseurl}}/posts/categories/jp">jp</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/works">Works</a>
        </li>
      </ul>
      </div>
</div>
</nav>
