<!-- No -->

<!--This is the footer of the website-->

<div class="footer-window container-fluid footer-color">
	<div class="row">
		<div class="footer-view footer-info col-md-4 text-left">
				<div class="account-box text-left">
					<i class="fab fa-github-square fa-3x"></i> 
					<span class="account">@polyline</span>
				</div>
				<div class="account-box">
					<i class="fab fa-instagram fa-3x"></i> 
					<span class="account">@__tsu__pei</span>
				</div>
				<div class="account-box">
					<i class="fas fa-envelope fa-3x" ></i> 
					<span class="account">a5560648@gmail.com</span>
				</div>
		</div>
		<div class="footer-view footer-words col-md-4 text-center">
			<p>快樂有很多種</p>
			<p>平凡的快樂、頹廢的快樂、成就的快樂</p>
			<p>追尋自己想要的快樂</p>
		</div>
		<div class="footer-view footer-license col-md-4 text-center">
			<p>Version 0.0.5</p>
		</div>
	</div>
</div>

<!--
log
<p>Version 0.0.2</p>
			<p>0.0.2 - 配色完成</p>
			<p>0.0.2 - 基本模板完成</p>
			<p>0.0.2 - 自我介紹新增打字效果</p>




-->